@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
/********************
******** Navbar **********/

body {
  font-family: 'Roboto Condensed', sans-serif;
}

nav {
  opacity: .98;
}

h5, p {
  color: black !important;
}

.nav-wrapper {
  background-color: rgb(143, 179, 55);
}

.blog-logo:hover {
  text-decoration: none;
  background-color: #83A436;
}

nav ul li a {
  color: black;
  font-weight: bold;
  font-size: 13.5px;
  letter-spacing: 2px;
}

nav ul li a:hover {
  color: black !important;
  text-decoration: none;
}

.blog-logo {
  color: black;
  font-size: 30px;
  margin-left: 2.5%;
}

.index-body {
  margin-top: 10%;
}

.col-sm-6 {
  margin-bottom: 30px;
}

.newQuestionForm {
  margin-bottom: 50px;
  background-color: #83A436;
}

.saveNewQuestion {
  margin-bottom: 50px;
  background-color: #83A436 !important;
}

.deleteBtn {
  margin-top: -88px;
  float: right;
}

.waves-effect.waves-green {
  background-color: #83A436;
}

.waves-effect.waves-green:hover{
  background-color: #83A436;
  color:black;
}

.noAnswer {
  color: red !important;
}
