<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

<div class="navbar-fixed">
  <nav class="#fafafa grey lighten-5">
    <div class="nav-wrapper">
      {{#link-to 'index'}}<a class="blog-logo">MESSAGE BOARD</a>{{/link-to}}
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <!-- {{#link-to 'about'}}<li>ABOUT</li>{{/link-to}}
        {{#link-to 'contact'}}<li>CONTACT</li>{{/link-to}} -->
        {{#link-to 'favorites'}}<li>FAVORITES</li>{{/link-to}}
      </ul>
    </div>
  </nav>
</div>

<body>

    {{outlet}}

</body>
