<div class="container">
  <div class="index-body">
    <div class="row">
      {{#each model.questions as |question|}}
        <p>
          {{question.inquiry}}
        </p>
      {{/each}}
    </div>
  </div>
</div>
